body {
  background-color: #979476;
}

/* This section is for the main header for the page and includes
a nav bar group */
#grid-container {
  background-color: "";
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  margin-right: -1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 2rem;
}

#col1 {
  background-color: "";
  padding-left: 6rem;
  padding-top: 0.5rem;
}

#col2 {
  background-color: "";
  padding-left: 8rem;
}

#col3 {
  background-color: "";
  padding-left: 4rem;
}

nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0;
}

nav ul li {
  margin: 0;
  margin-left: 1rem;
}

nav ul li a {
  color: black;
}

/* This section is for the div that holds the output
for the gif count and the search text used */
.counter {
  background-color: "";
  padding: 1rem;
  padding-right: 2rem;
  margin: 0;
  margin-bottom: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1rem;
}

#gifinput {
  background-color: paleturquoise;
  border: solid;
  border-radius: 1rem;
  text-align: center;
  font-weight: 900;
}

#gifcount {
  background-color: paleturquoise;
  border: solid;
  border-radius: 1rem;
  text-align: center;
  font-weight: 900;
}

h5 {
  text-align: center;
}

#search {
  background-color: paleturquoise;
  border: solid;
  border-radius: 1rem;
  text-align: center;
  font-weight: 900;
  color: purple;
}

/* This section is for the Flex-container that holds the appended
 giphy images */
.flex-container {
  /* We first create a flex layout context */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  /* Then we define how is distributed the remaining space */
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 350px;
  height: 350px;
  display: block;
  padding-bottom: 0.25rem;
}

/* This section is for the footer and image */
footer {
  background-color: "";
  padding: 1rem;
  margin: 0;
  margin-bottom: 0.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logo {
  width: 50px;
  height: 35px;
  display: block;
}

@media screen and (max-width: 800px) {
  #grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 600px) {
  #grid-container {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}
/*# sourceMappingURL=styles.css.map */