body {
    background-color: beige;
}
/* This section is for the main header for the page and includes
a nv bar group */
header {
    background-color: lightcoral;
    padding: 1rem;
    margin: 0;
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin: 0;
    margin-left: 1rem;
}
/* This section is for the div that holds the output
for the gif count and the search text used */
.counter {
    background-color: "";
    padding: 1rem;
    padding-right: 2rem;
    margin: 0;
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1rem;

}
#gifinput {
    background-color: paleturquoise;
    border: solid;
    border-radius: 1rem;
    text-align: center;
    font-weight: 900;
    
    
}
#gifcount {
    background-color: paleturquoise;
    border: solid;
    border-radius: 1rem;
    text-align: center;
    font-weight: 900;
}
h5 {
    text-align: center;
}
/* This section is for the Felx-container that holds the appended
 giphy images */
.flex-container {
    /* We first create a flex layout context */
    display: flex;
    flex-direction: row;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
/*   .flex-item {
    background: tomato;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  } */

  img {
    width: 350px;
    height: 350px;
    display: block;
    padding-bottom: 0.25rem;
  }

  /* This section is for the footer and image */
 footer {
    background-color: lightcoral;
    padding: 1rem;
    margin: 0;
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo {
    width: 50px;
    height:35px;
    display:block;

}
