body {
    // background-color: rgb(151, 148, 118);
    background-image: url('/images/drop.jpeg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
/* This section is for the main header for the page and includes
a nav bar group */
#grid-container {
    background-color:"";
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    // max-width: 1280px;
    margin-right: -1rem;
    align-items: center;
    padding-block: 2rem;
}
#col1 {
    background-color:"";
    padding-left: 6rem;
    padding-top: 0.5rem;
}
#col2 {
    background-color:"";
    padding-left: 8rem;
}
#col3 {
    background-color:"";
    padding-left: 4rem;
}


nav ul {
    display: flex;
    list-style: none;
    margin: 0;
}

nav ul li {
    margin: 0;
    margin-left: 1rem;
}

nav ul li a {
    color: black;
}
/* This section is for the div that holds the output
for the gif count and the search text used */
.counter {
    background-color: "";
    padding: 1rem;
    padding-right: 2rem;
    margin: 0;
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 1rem;

}
#gifinput {
    background-color: paleturquoise;
    border: solid;
    border-radius: 1rem;
    text-align: center;
    font-weight: 900;
    
    
}
#gifcount {
    background-color: paleturquoise;
    border: solid;
    border-radius: 1rem;
    text-align: center;
    font-weight: 900;
}
h5 {
    text-align: center;
}
// This is for the input button and field for search
#search {
    background-color: paleturquoise;
    border: solid;
    border-radius: 1rem;
    text-align: center;
    font-weight: 900;
    color: purple;
}


/* This section is for the Flex-container that holds the appended
 giphy images */
.flex-container {
    /* We first create a flex layout context */
    display: flex;
    flex-direction: row;
    
    /* Then we define the flow direction 
       and if we allow the items to wrap 
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
    flex-flow: row wrap;
    
    /* Then we define how is distributed the remaining space */
    justify-content: space-around;
    
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
// Image for appended gifs 
  img {
    width: 350px;
    height: 350px;
    display: block;
    padding-bottom: 0.25rem;
  }

  /* This section is for the footer and image */
 footer {
    background-color: "";
    padding: 1rem;
    margin: 0;
    margin-bottom: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo {
    width: 50px;
    height:35px;
    display:block;

}

// ***MEDIA QUERIES FOR Header items ***
@media screen and (max-width:800px) {
    #grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:600px) {
    #grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}
